@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

h1{
background-color: #2e160e;
border: solid 4px black;
padding: 30px;

border-radius: 5px;

}

/* Corpo com textura de grama do Minecraft */
body {
    background-image: url(imagem/animated-green-pixel-grass-background-the-concept-of-games-background-squares-pattern-background-minecraft-concept-illustration-light-green-abstract-textured-polygonal-background-video.jpg);
    /* Textura de grama Minecraft */
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    user-select: none;
    image-rendering: pixelated;
}

/* Contêiner para centralizar título e botão */
.container {
    color: #ffffff;
    /* Dourado */
    text-shadow: 5px 5px #041104;
    font-size: 2rem;
    letter-spacing: 2px;
    background-color: rgba(78, 52, 46, 0.95);
    /* Marrom escuro semi-transparente */
    border: 4px solid #2e160e;
    box-shadow:
    0 0 0 8px #2e160e,
    0 0 20px rgba(0, 0, 0, 0.6);
    width: 640px;
    max-width: 90%;
    padding: 24px;
    text-align: center;
    position: relative;
    border-radius: 4px;
}



/* Botões Minecraft */
.btn-minecraft {
    
    font-size: 18px;
    background-color: #333;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: .8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0, .8, .26, .99);
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn-minecraft:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: .7s cubic-bezier(0, .8, .26, .99);
    z-index: -1;
    background-color: #333 !important;
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.btn-minecraft:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: .7s cubic-bezier(0, .8, .26, .99);
}

.btn-minecraft:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
    transform: translateY(-1px)
}

.btn-minecraft:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transform: translateY(-1px)
}

.btn-minecraft:active {
    transform: translateY(4px);
}

.btn-minecraft:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

#areaJogo {
    background-color: rgba(78, 52, 46, 0.95);
    /* Marrom escuro semi-transparente */
    border: 4px solid #2e160e;
    box-shadow:
        0 0 0 8px #2e160e,
        0 0 20px rgba(0, 0, 0, 0.6);
    width: 640px;
    max-width: 90%;
    padding: 24px;
    text-align: center;
    position: relative;
    border-radius: 4px;
}